$dark-line: #393C49;

$bg-dark-1: #252836;
$bg-dark-2: #1F1D2B;
$bg-dark-2-alfa40: rgba(15, 15, 15, .4);
$bg-form: #2D303E;

$text-light: #ABBBC2;
$text-dark: #3B5162;
$text-gray: #889898;
$text-lighter: #E0E6E9;

$linear: linear-gradient(#EA9369, #EA6969);

$primary: #EA7C69;
$primary_alfa15: rgba(234, 124, 105, .15);
$secondary: #9288E0;
$orange: #EB966A;

$white: #FFFFFF;
$black: #000000;

$black_alfa25: rgba(0,0,0,.25);
$orange_alfa25: rgba(235,150,106,.25);